# https://github.com/ethanal/dotfiles/blob/2234396c757ce5f8572f080379669a9450861c2d/jj-config.toml
# https://github.com/bryceberger/config/blob/134d9bf6b8b4dd52a9cfdc408e78fe768b2671e9/home/jj/config.toml
# https://github.com/avamsi/dotfiles/blob/54b7bf307dd5fb75d384f614e5db4cf5b44613c4/.jjconfig.toml

[user]
name = "David Mynors"
email = "hello@davidmyno.rs"
[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"

[ui]
editor = "nvim"
diff-editor = ":builtin"
diff-formatter = ["difft", "--color=always", "$left", "$right"]
default-command = "status"

[merge-tools.idea]
program = "idea"
diff-args = ["diff", "$left", "$right"]
edit-args = ["diff", "$left", "$right"]
merge-args = ["merge", "$left", "$right", "$base", "$output"]

[remotes.origin]
auto-track-bookmarks = "glob:*"

[template-aliases]
'format_short_change_id(id)' = 'id.shortest()'

[revsets]
short-prefixes = "trunk() | mine()"

[revset-aliases]
"mine()" = "author_name(exact:'David Mynors')"
"wip()" = "description(glob-i:'wip*')"
'on_trunk()' = '(::trunk())+ ~ ::trunk()'
"mine_on_trunk()" = "on_trunk() & mine()"
'recent()' = 'committer_date(after:"1 months ago")'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'merged()' = '::bookmarks() ~ ::remote_bookmarks()'
'exclusively_remote_bookmarks()' = '::remote_bookmarks() ~ ::bookmarks()'
# set all remote bookmarks (commits pushed to remote branches) to be immutable
# 'immutable_heads()' = "builtin_immutable_heads() | remote_bookmarks()"
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"
"my_recent_branches(x)" = "::latest(heads(mine() ~ merged() ~ exclusively_remote_bookmarks()) & recent(), x) ~ ::trunk()"
"my_recent_wip()" = "wip() & mine() & recent()"
"trunk_ancestor()" = 'latest(::@ & ::main)'

# '(::(mine_on_trunk() ~ merged() ~ exclusively_remote_bookmarks()) ~ ::trunk())::'

# branch = jj log -r "::vukl ~ ::main"
# branch_and_main = jj log -r "heads(::vukl & ::main):: & (::vukl | ::main)"

[aliases]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
gf = ["git", "fetch"]

git-diff = ["util", "exec", "--", "bash", "-c", """
git diff $(jj log -r $1 -T 'commit_id' --no-graph)..$(jj log -r @ -T 'commit_id' --no-graph)
""", ""]
