alias q="exit"

alias ls="echo; exa -F -I 'Applications|Desktop|Documents|Downloads|Library|Movies|Music|Pictures|Public|Tresors'"
alias la="ls -a"
alias ll="ls -alh"

alias grep="grep --color=always"

alias gs="git status"
alias gb="git branch"
alias gl="git log --oneline -n 10"

alias tf="terraform"

alias k="kubectl"
alias kns="kubens"
alias kdebug="kubectl run -i --rm --tty debug --image=praqma/network-multitool --restart=Never -- sh"

alias jsontidy="pbpaste | jq '.' | pbcopy"

alias otp="pass otp -c"
alias ssh="kitty +kitten ssh"
