; much inspiration taken from https://github.com/nikitavoloboev/dotfiles/blob/master/karabiner/karabiner.edn
{:profiles
 {:Default {:default true
            :sim     50
            :delay   80
            :alone   1000
            :held    500}}

 :input-sources {:british {:input_mode_id   ""
                           :input_source_id "com.apple.keylayout.British"
                           :language        "en"}}

 :devices {:keyboardio [{:vendor_id 13462 :product_id 6}]}

 :main [{:des   "everywhere: tab to opt/meta as modifier"
         :rules [[:#Ttab :left_alt :!keyboardio {:alone :tab}]]}

        ; {:des   "everywhere: left cmd alone to backspace"
        ;  :rules [[:##left_command :left_command :!keyboardio {:alone :delete_or_backspace}]]}

        {:des   "everywhere: caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control :!keyboardio {:alone :escape}]]}

        {:des "right cmd: tap=enter, hold=nav, hold+lcmd=hyper"
         :rules [[:##right_command ["rcommand" 1] :!keyboardio {:afterup ["rcommand" 0] :alone :return_or_enter}]
                 ;; hyper (right cmd + left cmd + key → cmd+ctrl+opt+shift+key)
                 [:!Ca :!CTOSa [:!keyboardio :rcommand]]
                 [:!Cb :!CTOSb [:!keyboardio :rcommand]]
                 [:!Cc :!CTOSc [:!keyboardio :rcommand]]
                 [:!Cd :!CTOSd [:!keyboardio :rcommand]]
                 [:!Ce :!CTOSe [:!keyboardio :rcommand]]
                 [:!Cf :!CTOSf [:!keyboardio :rcommand]]
                 [:!Cg :!CTOSg [:!keyboardio :rcommand]]
                 [:!Ch :!CTOSh [:!keyboardio :rcommand]]
                 [:!Ci :!CTOSi [:!keyboardio :rcommand]]
                 [:!Cj :!CTOSj [:!keyboardio :rcommand]]
                 [:!Ck :!CTOSk [:!keyboardio :rcommand]]
                 [:!Cl :!CTOSl [:!keyboardio :rcommand]]
                 [:!Cm :!CTOSm [:!keyboardio :rcommand]]
                 [:!Cn :!CTOSn [:!keyboardio :rcommand]]
                 [:!Co :!CTOSo [:!keyboardio :rcommand]]
                 [:!Cp :!CTOSp [:!keyboardio :rcommand]]
                 [:!Cq :!CTOSq [:!keyboardio :rcommand]]
                 [:!Cr :!CTOSr [:!keyboardio :rcommand]]
                 [:!Cs :!CTOSs [:!keyboardio :rcommand]]
                 [:!Ct :!CTOSt [:!keyboardio :rcommand]]
                 [:!Cu :!CTOSu [:!keyboardio :rcommand]]
                 [:!Cv :!CTOSv [:!keyboardio :rcommand]]
                 [:!Cw :!CTOSw [:!keyboardio :rcommand]]
                 [:!Cx :!CTOSx [:!keyboardio :rcommand]]
                 [:!Cy :!CTOSy [:!keyboardio :rcommand]]
                 [:!Cz :!CTOSz [:!keyboardio :rcommand]]
                 [:!C1 :!CTOS1 [:!keyboardio :rcommand]]
                 [:!C2 :!CTOS2 [:!keyboardio :rcommand]]
                 [:!C3 :!CTOS3 [:!keyboardio :rcommand]]
                 [:!C4 :!CTOS4 [:!keyboardio :rcommand]]
                 [:!C5 :!CTOS5 [:!keyboardio :rcommand]]
                 [:!C6 :!CTOS6 [:!keyboardio :rcommand]]
                 [:!C7 :!CTOS7 [:!keyboardio :rcommand]]
                 [:!C8 :!CTOS8 [:!keyboardio :rcommand]]
                 [:!C9 :!CTOS9 [:!keyboardio :rcommand]]
                 [:!C0 :!CTOS0 [:!keyboardio :rcommand]]
                 ;; nav (right cmd alone + key)
                 [:##y :home [:!keyboardio :rcommand]]
                 [:##u :page_down [:!keyboardio :rcommand]]
                 [:##i :page_up [:!keyboardio :rcommand]]
                 [:##o :end [:!keyboardio :rcommand]]
                 [:##h :left_arrow [:!keyboardio :rcommand]]
                 [:##j :down_arrow [:!keyboardio :rcommand]]
                 [:##k :up_arrow [:!keyboardio :rcommand]]
                 [:##l :right_arrow [:!keyboardio :rcommand]]
                 [:tab :left_alt [:!keyboardio :rcommand]]
                 [:##3 :!O3 [:!keyboardio :rcommand]]]}

        {:des "workman dead state"
         :rules [[:comma ["dead-state" 1] :!dead-state]
                 [:4 [:!Sgrave_accent_and_tilde ["dead-state" 0]] :dead-state] ;; ~
                 [:5 [:grave_accent_and_tilde ["dead-state" 0]] :dead-state] ;; `
                 [:7 [:!O3 ["dead-state" 0]] :dead-state] ;; #
                 [:8 [:!S6 ["dead-state" 0]] :dead-state] ;; ^
                 [:q [:!S5 ["dead-state" 0]] :dead-state] ;; %
                 [:w [:!S7 ["dead-state" 0]] :dead-state] ;; &
                 [:e [:!Sslash ["dead-state" 0]] :dead-state] ;; ?
                 [:r [:!Sequal_sign ["dead-state" 0]] :dead-state] ;; +
                 [:t [:!S2 ["dead-state" 0]] :dead-state] ;; @
                 [:y [:!S4 ["dead-state" 0]] :dead-state] ;; $
                 [:u [:!Shyphen ["dead-state" 0]] :dead-state] ;; _
                 [:i [:open_bracket ["dead-state" 0]] :dead-state] ;; [
                 [:o [:close_bracket ["dead-state" 0]] :dead-state] ;; ]
                 [:p [:!S1 ["dead-state" 0]] :dead-state] ;; !
                 [:semicolon [:hyphen ["dead-state" 0]] :dead-state] ;; -
                 [:s [:!S9 ["dead-state" 0]] :dead-state] ;; (
                 [:d [:equal_sign ["dead-state" 0]] :dead-state] ;; =
                 [:f [:!O3 ["dead-state" 0]] :dead-state] ;; # (used to be "0")
                 [:g [:!Sopen_bracket ["dead-state" 0]] :dead-state] ;; {
                 [:h [:!Sclose_bracket ["dead-state" 0]] :dead-state] ;; }
                 [:j [:!Shyphen ["dead-state" 0]] :dead-state] ;; _ (used to be '1')
                 [:k [:!S8 ["dead-state" 0]] :dead-state] ;; *
                 [:l [:!S0 ["dead-state" 0]] :dead-state] ;; )
                 [:a [:!S4 ["dead-state" 0]] :dead-state] ;; $
                 [:z [:6 ["dead-state" 0]] :dead-state] ;; 6
                 [:x [:!Scomma ["dead-state" 0]] :dead-state] ;; < (used to be "7")
                 [:c [:!Speriod ["dead-state" 0]] :dead-state] ;; > (used to be "8")
                 [:v [:slash ["dead-state" 0]] :dead-state] ;; / (used to be "9")
                 [:b [:!Sbackslash ["dead-state" 0]] :dead-state] ;; |
                 [:n [:backslash ["dead-state" 0]] :dead-state] ;; \
                 [:m [:2 ["dead-state" 0]] :dead-state] ;; 2
                 [:comma [:comma ["dead-state" 0]] :dead-state] ;; ,
                 [:period [:4 ["dead-state" 0]] :dead-state] ;; 4
                 [:slash [:5 ["dead-state" 0]] :dead-state] ;; 5
                 [:return_or_enter [:comma :return_or_enter ["dead-state" 0]] :dead-state] ;; ,\n
                 [:escape ["dead-state" 0] :dead-state] ;; exit dead-state
                 [:delete_or_backspace ["dead-state" 0] :dead-state] ;; exit dead-state
                 [:spacebar [:comma :spacebar ["dead-state" 0]] :dead-state]]}]}
