[core]
	excludesfile = ~/.gitignore_global
[user]
	name = David Mynors
	email = hello@davidmyno.rs
[alias]
	co = checkout
	sc = sparse-checkout
	recent = branch --sort=-committerdate -v
[includeIf "gitdir:~/src/nandos/"]
	path = ~/src/nandos/.gitconfig
[pull]
	rebase = true
