[core]
	excludesfile = ~/.gitignore
	editor = emacsclient -n -a ''
[user]
	name = David Mynors
	email = hello@davidmyno.rs
[alias]
	co = checkout
	sc = sparse-checkout
	recent = branch --sort=-committerdate -v
	new = !git init && git symbolic-ref HEAD refs/heads/main
	uf = ls-files -oz --exclude-standard
[includeIf "gitdir:~/src/nandos/"]
	path = ~/src/nandos/.gitconfig
[pull]
	rebase = true
